<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740619589260-1m4avmrhbsbrfo1gep8e0p2o37l17cn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740619589260-1m4avmrhbsbrfo1gep8e0p2o37l17cn3</string>
	<key>API_KEY</key>
	<string>AIzaSyDXbqfUFWl1JjlQkhpFf1-PgcBtInoSv8s</string>
	<key>GCM_SENDER_ID</key>
	<string>740619589260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterEfficiencyTool</string>
	<key>PROJECT_ID</key>
	<string>signin-flutter-b60ba</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-flutter-b60ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740619589260:ios:90b6a7cc1e16e52e950da9</string>
</dict>
</plist>